@use "../../../styles/partials/variables" as *;

.post-modal {
  // position: absolute;
  position: fixed;
  bottom: 0;
  background-color: $Cloud;
  height: 51vh;
  width: 100%;
  // transition: transform 1s linear;
  // animation: slideIn 1s;
  transform: translateX(-50%) translateY(100%);
  animation: slideInFromBottom2 0.5s forwards;

  &__text {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    color: $Instock-Black;
    font-weight: 500;
  }

  &__btn-container {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.post-bid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 25vh;
  gap: 1.5rem;
  padding: 1.5rem 0;

  &__close {
    position: absolute;
    left: 10px;

    &--logout {
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }

  &__label {
    font-weight: 500;
  }

  &__input {
    border: 1px solid #ccc;
    border-radius: 1.25rem;
    width: 170px;
    padding: 0.5rem;

    &--invalid {
      border-color: red;
      animation: shakeItUp 0.25s;
    }
  }

  &__btn {
    width: 5.5rem;
    height: 2.5rem;
    border: 1px solid black;
    border-radius: 0.75rem;
    transition: all 0.5s ease;
    background-color: $Instock-Black;
    color: $White;

    &:hover {
      cursor: pointer;
      background-color: $Cloud;
      color: $Instock-Black;
    }
  }

  &__error {
    color: $Red;
    font-weight: 600;
  }
}

@keyframes shakeItUp {
  0% {
    transform: translateX(-20px);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom2 {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
